*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    margin: 0;
    padding: 0;
    background-size: cover;
    display: flex;
    flex-direction: column;
    background-image: url(../css/images/Fondo.gif);
}

.divIngresar, .divEliminar, .divIniciar, .divCons{
    margin-top: 15px;
    margin-left: 15px;
    margin-right: 15px;
    background-color: rgba(216, 81, 187, 0.493);
}

input{
    margin-top: 10px;
}

.divIng{
    background-color: rgba(216, 81, 187, 0.493);
    text-align-last: center;
    margin-top: 25px;
    margin-bottom: 25px;
    margin-left: 480px;
    border-radius: 20px;
    width: 400px;
    height: 200px;
    border: 12px;
    float: left;
}

.divIni, .divEli{
    background-color: rgba(216, 81, 187, 0.493);
    text-align-last: center;
    margin-top: 25px;
    margin-bottom: 25px;
    margin-left: 480px;
    border-radius: 20px;
    width: 400px;
    height: 100px;
    border: 12px;
    float: left;
}

div h3{
    font-size: 25px;
    color: beige;
}

label{
    font-size: 18px;
    color: rgb(245, 216, 229);
}

input{
    border-radius: 20px;
    border: 12px;
    border-color: rgb(204, 56, 123);
    border-spacing: 10px;;
}

a{
    font-size: 25px;
    color: beige;
    text-align: center;
}

